 /* .home{
      background-color: #ff1493;
      color: white;
      text-align: center;
      padding: 15px;
      border: 1px solid black;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 500px;
      height: 500px;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  } */

  .home{
    background-color: #ff1493;
    color: white;
          padding: 15px;

    margin-left: auto;
    margin-right: auto;
    display: table;

  }